@model ZodiacMe.BD.ViewModels.SignoConsultaViewModel;

@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fondo-total" style="background-image: url('~/images/zodiac/fondo2.png');">
</div>
<div class="float-constelacion">
    <img src="~/images/zodiac/constelacion.png" alt="">
</div>
<div class="float-img">
    <img src="~/images/zodiac/icon-amigable.png" alt="">
</div>
<div class="content-global">
    <div class="formulario-consulta">
        <div class="grid-container">
            <div class="form-principal">
                <form method="post" asp-controller="Signo" class="form-input">
                    <h3 class="title-formulario">Completa los siguientes campos</h3>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-inputs mb-3">
                                @Html.LabelFor(x => x.Mes)
                                @Html.DropDownListFor(x => x.Mes, Html.GetEnumSelectList<ListEnumMes>(), htmlAttributes: new { @class = "form-control"})
                                @Html.ValidationMessageFor(x => x.Mes)
                            </div>
                            <div class="form-inputs mb-3">
                                @Html.LabelFor(x => x.Dia)
                                @Html.DropDownList("Dia", Enumerable.Empty<SelectListItem>(), "--Seleccionar dia--", new { @class = "form-control"})
                                @Html.ValidationMessageFor(x => x.Dia, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="button-blue">Consultar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>